// Prenumeruoti naujienlaiski pradzia
.footer_subscribe {
    text-align: center;
    height: 30vh;
    padding-top: 10px;
    font-family: $font;
    .subscribe {
        padding: 10px;
    }
       .subscribe_button{
           border: none;
           padding: 12px;
           cursor: pointer;
           background-color: rgb(202, 122, 102);
           opacity: 0.7;

       }
}
// Prenumeruoti naujienlaiski Pabaiga

.footer_container{
    display: flex;
    width: 100%;


   
    .footer_contacts{
        width: 33.3333%;

    }
    .footer_social_logos{
        width: 33.33%;
        a{
            img {
                width: 40px;
            }
        }

    }
    .footer_content{
        width: 33.33%;

    }
}