// NAV_BAR
// Kad nav eitu kartu su HTML

.position {
    position: fixed;
    min-width: 100%;
    z-index: 1;
    // @include responsive-md() {
    //   position: relative;
    // }
  
}

header {
    background-image: url("../img/background1.jpg");
    background-size: cover;
    // background-position: center;
    background-repeat: no-repeat;
    min-height: 70vh;
    @include responsive-md2() {
        min-height: 50vh;
        @include responsive-md() {
            background-image: none;
            min-height: 11vh;
        }
    }
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    background-color: white;
    opacity: 0.8;
    font-family: $font;
    @include responsive-md() {
        opacity: 1;
    }

    .logo {
        cursor: pointer;
        img {
            width: 100px;
            @include responsive-md() {
                width: 90px;
            }
        }
    }
    .nav_links {
        display: flex;
        justify-content: space-around;
        width: 50%;

        @include responsive-md2() {
            font-size: 0.7rem;
            width: 100%;
           
        }
        @include responsive-md() {
            position: absolute;
            right: 0;
            height: 93vh;
            top: 8vh;
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: transform 0.5 ease-in;
            display: none;
            &.nav_active {
                @include responsive-md() {
                    z-index: 1;
                    display: flex;
                }
            }
        }
        li {
            list-style: none;

            a {
                color: black;
                text-decoration: none;
                letter-spacing: 3px;
                font-size: 1rem;
                text-transform: uppercase;
            }
        }
    }
}
// Cart button
.cart_button {
    position: relative;
    cursor: pointer;

    img {
        width: 35px;
    }

    .cart_div,
    .cart_div_second {
        position: absolute;
        top: -9px;
        left: 14px;
        color: black;
    }
}
.carts_button_burger {
    display: none;
    @include responsive-md() {
        display: block;
    }
}

.cart_button_nav {
    display: block;
    @include responsive-md() {
        display: none;
    }
}

// Burgeris
.burger {
    display: none;
    .line {
        width: 30px;
        height: 3px;
        margin: 5px;
        background-color: black;
        position: relative;
    }

    @include responsive-md() {
        display: block;
        cursor: pointer;
    }
}

// NAV BAR end...................................
