// Raudonu liniju start

.red_line_container {
    margin-top: 5%;
    opacity: 0.3;
    @include responsive-md() {
       display: none;
    }

    .red_line1 {
        width: 30%;
        height: 2px;
        background-color: red;
        margin: 0 auto;
        border-radius: 20%;
        margin-bottom: 5px;
    }
    .red_line2 {
        width: 40%;
        height: 2px;
        background-color: red;
        margin: 0 auto;
        border-radius: 20%;
        margin-bottom: 5px;
    }
    .red_line3 {
        width: 50%;
        height: 2px;
        background-color: red;
        margin: 0 auto;
        border-radius: 20%;
        margin-bottom: 5%;
    }
}
// Raudonu liniju END

// Susipazinkime START
.main_container {
    display: flex;
    justify-content: center;
    text-align: center;
    // width: 100%;
    margin-bottom: 5%;
    @include responsive-md() {
        display: block;
    }

    .main_conteiner_div {
        width: 48%;
        display: block;
        margin: auto;
        @include responsive-md() {
            background-image: url("../img/background1.jpg");
            background-size: cover;
            // background-position: center;
            background-repeat: no-repeat;
            height: 40vh;
            width: 100%;
        }

        .main_container_img {
            // width: 48%;
            max-width: 100%;
            @include responsive-md() {
                display: none;
            }
        }
    }

    .main_container_content {
        width: 48%;
        font-family: $font;
        line-height: 2;
        @include responsive-md() {
            width: 100%;
        }
        h2 {
            color: $color_h;
            @include responsive-md() {
                font-size: 1rem;
            }
        }

        p {
            color: $color_p;
            padding: 0 23px 0 23px;
            @include responsive-md() {
                font-size: 0.8rem;
                padding: 0 10px 0 10px;
            }
        }
       
    }
}

// Susipazinkime END
.souces_container{
    height: 80vh;
    border: solid black 1px;
}
// Padazai START